# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so
node_modules
# C extensions
*.so
dev-secret.yaml
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# If your database is managed by the version control
*.db-journal

# Media files
media/

# Static files
staticfiles/

# Local environment settings
# .env.*

# venv
myenv/
venv/
venv_new/
ENV/
env/
.venv/
.ENV/

# VS Code settings
.vscode/
**/.vscode-server/**

# macOS
.DS_Store

# PyCharm
.idea/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo

# Logs
*.log
logs/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# pytest
.pytest_cache/

# local changes
local_settings.py

# local storage
sivista_be_data/
