.context-menu {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 140px;
    max-height: 80vh; 
    overflow-y: auto; 
    font-size: 14px;
  }

.context-menu-item {
    display: flex;
    padding: 4px 22px;
    cursor: pointer;
  }
  
  .context-menu-item:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  
  .popover .popover-arrow{
    display: none;
  }