.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td, .p-datatable .p-datatable-thead > tr > th {
    border: 1px solid var(--border-color, #dee2e6) !important;
    font-family: system-ui,"-apple-system","Segoe UI","Roboto" !important;
}
.p-column-filter-matchmode-dropdown > .p-inputtext, .p-column-filter, .p-column-filter-operator-dropdown > .p-inputtext, .global-search-input{
    padding: 5px 12px !important;
}
.p-column-filter-constraint, .p-column-filter-operator, .p-column-filter-buttonbar, .p-column-filter-add-rule{
    padding: 12px 10px !important;
}
.p-column-filter-buttonbar > .p-button, .clear-filter-button{
    padding: 5px 10px !important;
}
.p-column-filter-overlay-menu{
    padding: 10px;
}

.p-paginator {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    font-size: 12px;
  }
  
  .p-paginator .p-paginator-element {
    padding: 4px 6px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  .p-paginator .p-paginator-element svg {
    width: 12px;
    height: 12px;
  }
  
  .p-paginator-pages {
    display: flex;
    gap: 2px;
  }
  
  .p-paginator .p-paginator-page {
    padding: 2px 6px;
    min-width: 22px;
    height: 22px;
    font-size: 12px;
  }
  
  .p-paginator .p-paginator-page.p-highlight {
    font-weight: bold;
    background: var(--app-primary-color);
    color: white;
    border-radius: 4px;
  }
  
  .p-paginator-bottom .p-dropdown {
    font-size: 12px;
    padding: 0px 6px;
    min-width: 40px;
    height: 24px;
  }
  
  .p-paginator-bottom .p-dropdown-label {
    font-size: 12px;
    padding: 2px;
  }
  
  .p-paginator-bottom .p-dropdown-trigger {
    width: 16px;
    height: auto;
  }
  
  .p-dropdown-items-wrapper .p-dropdown-items {
    padding: 0%;
  }
  .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-item{
    padding: 6px;
    justify-content: center;
    width: 100%;
  }